body {
    background-color: blanchedalmond;
}

h1 {
    font-size: 80px;
    color: blanchedalmond;
}

h3 {
    color: blanchedalmond;
}

h3 {
    color: blanchedalmond;
}

a {
    text-decoration: none;
    transition: 0.2s;
}

main a {
    color: rgb(255, 180, 68);
    font-weight: bold;
}

main a:hover {
    color: rgb(255, 180, 68);
    font-weight: bold;
    text-decoration: underline;
}

.overlayPlaces {
    background-color: rgba(0, 0, 0, 0.534);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#overlay1 {
    background-color: rgba(0, 0, 0, 0.342);
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#overlay2 {
    background-color: rgba(0, 0, 0, 0.342);
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#overlay3 {
    background-color: rgba(0, 0, 0, 0.342);
    display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.navbar {
    background-color: rgb(255, 180, 68);
}

i {
    font-size: 40px;
    margin: 10px;
    transition: 0.7s;
    cursor: pointer;
}

#facebook:hover {
    color: #1877f2;
}

#instagram:hover {
    color: #8134AF;
}

#twitter:hover {
    color: #08a0e9;
}

li {
    padding-bottom: 5px;
}

.parallax {
    min-height: 550px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#parallax1 {
    background-image: url("../img/macaco5.jfif");
}

#parallax2 {
    background-image: url("../img/macaco4.jfif");
}

footer {
    margin: 0;
    margin-top: 20vh;
    z-index: 2;
}

footer a {
    color: white;
    opacity: 0.7;
}

footer a:hover {
    opacity: 1;
    color: white;
}

footer h3:hover {
    color: white;
}

#register {
    display: none;
}

.sidenav {
    width: 14rem !important;
    height: 100vh;
    position: fixed;

}

.content {
    margin-left: 14rem !important;
}

main .content > h1 {
    color: rgba(0,0,0,.55);
}

.whatToDo h2 {
    color: rgba(0,0,0,.55);
}

.whatToDo h3 {
    color: rgba(0,0,0,.55);
}

.whatToDo h5 {
    color: rgba(0,0,0,.55);
    font-weight: 200;
}

.whatToDo h5:hover {
    color: black;
}

.navDropdown {
    color: white;
    text-align: center;
}

.navDropdown:hover {
    background-color: blanchedalmond;
    color: black;
}

.welcome h1 {
    color: rgba(0,0,0,.55);
    font-size: 60px;
    text-align: left;
}

.welcome a {
    color: rgb(255, 180, 68);
}

.welcome a:hover {
    color: rgb(255, 180, 68);
    text-decoration: underline;
}


